* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    font-family: sans-serif;
}

.calculator {
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: #000;
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}

.display {
    width: 100%;
    height: 80px;
    border: none;
    color: #222;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
    background-color: #d9ff00;
    text-align: right;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.operator {
    background-color: #d9ff00;
    color: #000;
    font-size: 35px;
}