.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto",sans-serif;
    background-color: #f5f5f5;
    margin-top:120px;
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.timer{
    font-size: 72px;
    color: #2c3e50;
}

button{
    font-size: 18px;
    padding:10px 20px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;
}

button:hover{
    opacity: 70%;
}

#start{
    background-color: #37ae60;
}

#stop{
    background-color: #c0392b;
}

#reset{
    background-color: #7f8c8d;
}




